@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@300&family=Russo+One&display=swap');
$white: #e6e6e6;
$off-white: #cbcbcb;
$dark-black: #212121;
$light-black: #2c2c2c;
$lightest-black: #6d6d6d;
$grey: #e0e0e0;
$button-color: rgba(149, 149, 149, 0.419);
$dark-grey: #4e4e4e;
$purple: #990ecc;
$pink: #f893fadd;
$code-purple: #c145ff;
$green: #52f322;

body {
  font-family: 'Rajdhani', sans-serif;
  // background-color: yellow;
  background: linear-gradient(45deg, blue, 45%, $purple);
  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiBox-root {
  justify-content: right;
}


#compose-code {
  background-color: rgba(114, 114, 114, 0.326);
  color: rgb(198, 45, 221);
  border-radius: 5px;
  padding: 3px;
}

#code-container {
  box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.73);
}

@keyframes intro {
  from{filter:blur(1.5rem)}
  to{filter:blur(0)}
}

#header {
  animation-name: intro;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.info-tile {
  width: 250px;
  height: 300px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
  background: linear-gradient(rgba(242, 46, 249, 0.363), rgba(225, 157, 240, 0.197));
  border-radius: 10px;
  text-align: center;

}
